body {
  margin: 20px;
}
.pocetna {
  display: flex;
}
.header {
  display: flex;
}
.element {
  padding: 20px;
  border: 1px solid black;
}
.element:hover {
  cursor: pointer;
}
.proizvodi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* ULEPSATI OVO */
.proizvod {
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
  background-color: greenyellow;
  padding: 15px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.prozivod-elementi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.proizvod p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ukloni {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dugmeUkloni {
  padding: 10px;
  letter-spacing: 1px;
}
.podaci-proizvod-korpa {
  display: flex;
}
.podaci-proizvod-korpa p {
  padding: 20px;
}
.dugmad-korpe {
  display: flex;
  justify-content: center;
  align-items: center;
}
